.navbarHeader{
  display: flex;
  justify-content: space-between;
  background-color: #149fc2;
  height: 60px;
}

.tituloPrincipal{
  display: flex;
  align-items: center;
  color: aliceblue;

}
.tituloHeader{
  font-size: 30px;
  font-weight: bold;
}

.iconoCarrito{
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 30px;
  color: aliceblue;
}
.categorias{
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}

.botonMotorola{
  padding: 1rem;
}

.botonSamsung{
  padding: 1rem;
}

.botonAccesorios{
  padding: 1rem;
}


.imgInicio{
  height: 250px;
  width: auto;
  display: flex;
  
}

