.navbarHeader{
  display: flex;
  justify-content: space-between;
  background-color: #149fc2;
  height: 60px;
}

.tituloPrincipal{
  display: flex;
  align-items: center;
  color: aliceblue;

}
.tituloHeader{
  font-size: 30px;
  font-weight: bold;
}

.iconoCarrito{
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 30px;
  color: aliceblue;
}
.categorias{
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}

.botonMotorola{
  padding: 1rem;
}

.botonSamsung{
  padding: 1rem;
}

.botonAccesorios{
  padding: 1rem;
}


.imgInicio{
  height: 250px;
  width: auto;
  display: flex;
  
}

.bodyInicio{
  font-weight: bold;
  color: #0d0d0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.buttonDetalle{
  background-color: #0d0d0e;
  display: flex;
  justify-content: center ;
  
}

.stock{
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.bi-cart{
  font-size: 50px;
}

.imgCarrito{
  height: 110px;
  width: 70px;
}

.liCarrito{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.buttonDelete{
  height: 35px;
  width: 70px;
}

.nombreProducto{
  padding-right: 1rem;
}